<div id="login-container">
    
    <div id="login-logo">
    
    </div>

    <div id="login-content" class="clearfix">
        
        <div id="login-about">
            
            <div id="login-about-video">
                
                <div id="login-about-video-image"></div>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

            </div>

        </div>

        <sign-up></sign-up>
        
    </div>

</div>