@using resources = Resources.Main;

<div id="child-menu">
    
    <div id="child-menu-info" class="clearfix">

        <img id="child-menu-info-image" ng-src={{childMenuApi.displayedChild.ProfilePictureUrl}} alt="" />

        <div id="child-menu-info-menu" class="dropdown">

            <a id="child-menu-info-menu-child-name" class="dropdown-toggle">{{childMenuApi.displayedChild.Firstname}} {{childMenuApi.displayedChild.Lastname}}</a>
            
            <ul class="dropdown-menu">
                <li class="child-menu-select" ng-repeat="child in childMenuApi.children" ng-click="selectChild(child)" ng-class="{'child-menu-info-menu-selected' : child.Id == childMenuApi.displayedChild.Id}">

                    <span>{{child.Firstname}} {{child.Lastname}}</span>

                </li>
                <li class="divider"></li>
                <li id="child-menu-info-menu-new"><a ng-click="addChild()">@resources.ChildMenu_CreateNew</a></li>

            </ul>

        </div>

    </div>
    <div id="child-menu-edit-buttonWrapper">
      
        <a id="text" class="" ng-click="editChild()"><img id="iconEdit" src="~/Assets/Images/Home/child-button-edit.png" />@resources.ChildMenu_Edit</a>

        <a id="text" class="" ng-click="removeChild()"><img id="iconDelete" src="~/Assets/Images/Home/child-button-delete.png" />@resources.ChildMenu_Delete</a>
      
    </div>


    <div class="shadow"></div>
</div>