@using resources = Resources.Main;

<div id="child-create-popup">

    <div id="child-popup-header">

        <div id="title">

            @resources.ChildAdd_Title

            <div class="cancel"><img src="~/Assets/Images/Home/cancelIcon.png" /></div>

        </div>
                
    </div>

    <div id="child-form-create">

        <form ng-submit="createChild()">
            
            <div class="child-test">
                <input type="text" ng-model="child.firstName" ng-class="child-form-label" placeholder="@resources.ChildAdd_FirstNamePlaceholder" required />
            </div>

            <div class="child-test">
                <input type="text" ng-model="child.lastName" ng-class="child-form-label" placeholder="@resources.ChildAdd_LastNamePlaceholder" required />
            </div>

            <input type="submit" value="@resources.ChildAdd_Save" id="child-dashboard-create-button" class="btn"/>

        </form>

    </div>

</div>