@using resources =Resources.Main;

<form ng-submit="editTask()">
    <div class="task-edit-container">
        <div>
            <div class="task-edit-header clearfix">
                <div class="task-edit-header-left">
                    <img ng-src="{{task.ProfilePictureUrl}}" alt="" />
                </div>
                <div class="task-edit-header-right">
                    <div>
                        <span class="task-edit-header-right-name">@resources.TaskEdit_Name</span>
                        <input type="text" class="task-edit-name-field" ng-model="task.Name" required />
                    </div>
                    <div>
                        <span>@resources.TaskEdit_Description</span>
                        <textarea ng-model="task.Description" class="task-edit-description-field" required></textarea>
                    </div>
                </div>
            </div>
            <div>
                <span>Voice command</span>
                <div ng-show="task.VoiceCommand">
                    <embed type="application/x-mplayer2" ng-src="{{task.VoiceCommand.Url}}" />
                </div>
                <div>
                    <span>Upload new voice command</span>
                    <input type="file" ng-file-select="onSoundFileSelect($files)">
                </div>
            </div>
            <div class="task-edit-content clearfix">
                <edit-task-pictures-list></edit-task-pictures-list>
            </div>
            <div class="task-edit-options">
                <input type="submit" value="@resources.TaskEdit_Save" class="task-edit-save" />
            </div>
        </div>
    </div>
</form>