@using resources =Resources.Main;

<form ng-submit="editTask()">
    <div class="task-edit-container">
        <div>
            <div class="task-edit-header clearfix">
                <div class="task-edit-header-left">
                    <img ng-src="{{task.ProfilePictureUrl}}" alt="" />
                </div>
                <div class="task-edit-header-right">
                    <div>
                        <span class="task-edit-header-right-name">@resources.TaskEdit_Name</span>
                        <input type="text" class="task-edit-name-field" ng-model="task.Name" required />
                    </div>
                    <div>
                        <span>@resources.TaskEdit_Description</span>
                        <textarea ng-model="task.Description" class="task-edit-description-field" required></textarea>
                    </div>
                </div>
            </div>
            <div class="task-edit-voice-command">
                <span>Voice command</span>
                <img ng-show="task.VoiceCommand" class="voice-command-speaker" src="~/Assets/Images/speaker.png" ng-click="playVoiceCommand()" />

                <audio id="voiceCommandPlayer">
                    <source ng-src="{{task.VoiceCommand.Url}}" >
                    Your browser does not support this type of audio playing.
                </audio>

                <div class="task-edit-voice-command-add-new">
                    <h3>Upload new voice command</h3>
                    <input type="file" ng-file-select="onSoundFileSelect($files)">
                </div>
            </div>
            <div class="task-edit-content clearfix">
                <edit-task-pictures-list></edit-task-pictures-list>
            </div>
            <div class="task-edit-options">
                <input type="submit" value="@resources.TaskEdit_Save" class="task-edit-save" />
            </div>
        </div>
    </div>
</form>