@using resources = Resources.Main;

<div id="children-popup">

    <div id="children-popup-header">

        <h2>@resources.ChildEdit_Title</h2>

    </div>

    <div id="children-popup-image-wrap">

        <img ng-src="{{child.profilePictureUrl}}" alt="{{child.firstName}}" />

    </div>
    <form enctype="multipart/form-data" ng-submit="editChild()">

        <div id="children-edit-form">
            <div>

                {{uploadProgress}}<input class="clearfix" type="file" ng-file-select="onFileSelect($files)"><br /><br />

                <label class="child-info-field-label">@resources.ChildEdit_FirstName</label>

                <input type="text" class="child-info-input-field" ng-model="child.firstName" />

            </div>

            <div>

                <label class="child-info-field-label">@resources.ChildEdit_LastName</label>

                <input type="text" class="child-info-input-field" ng-model="child.lastName" />

            </div>

            <input type="submit" class="btn" value="@resources.ChildEdit_Save" id="children-edit-form-button" />
        </div>

    </form>

</div>