<div id="logInMainContainer">

    <div id="loginContent">

        <div id="loginLogo"> </div>

        <div id="loginContainer">
            <sign-up></sign-up>
        </div>

    </div>

    <div id="loginFooter">
        <div id="content">
            <div id="copyright"> © 2013 Team Authink </div>
            <div id="language"> Change language </div>
        </div>
    </div>
</div>