@using resources = Resources.Main;

<div id="home-header" class="clearfix">

    <a id="home-header-logo" href="/" target="_self"><img src="/Assets/Images/Home/header-logo.png" alt=""/></a>

    <div id="home-header-user" class="clearfix">

        <div class="home-header-user-menu">

            <div id="options"> 
                
                <a class="language" href="/language/change/en" target="_self" ng-class="{selected: activeLanguage === 'en'}">@resources.Omnibar_Language_English</a>

                <a class="language" href="/language/change/hr" target="_self" ng-class="{selected: activeLanguage === 'hr'}">@resources.Omnibar_Language_Croatian</a>

                <a ng-click="signOut()" id="logout" title="Logout"><img src="/Assets/Images/Home/options-logout.png" alt="" /></a> 

            </div>

            <a class="dropdown-toggle">{{currentUser.Firstname}} {{currentUser.Lastname}}</a>
                      
        </div>

    </div>

</div>