@using resources = Resources.Main;

<div id="home-header" class="clearfix">

    <a id="home-header-logo" href="/" target="_self"></a>

    <div id="home-header-user" class="clearfix">

        <div class="home-header-user-menu">
            <a class="dropdown-toggle">{{currentUser.Firstname}} {{currentUser.Lastname}}</a>
            <img id="options-icon" src="/Assets/Images/Home/omnibar-gear.png" alt="" />
            <div id="options">  
                
                <a class="language" href="/language/change/en" target="_self">@resources.Omnibar_Language_English</a>
                <a class="language" href="/language/change/hr" target="_self">@resources.Omnibar_Language_Croatian</a>
                <a ng-click="signOut()" id="logout"><img src="/Assets/Images/Home/options-logout.png" alt="" /></a> 

            </div>          
        </div>

         

    </div>

</div>