@using resources = Resources.Main;

<div id="home-header" class="clearfix">

    <a id="home-header-logo" href="/" target="_self"></a>

    <div id="home-header-user" class="clearfix">

        <div id="home-header-user-menu">

            <a>{{currentUser.Firstname}} {{currentUser.Lastname}}</a>
            <ul>

                <li class="home-header-user-menu-list-item" ng-click="signOut()">@resources.Omnibar_Logout</li>
                <li class="home-header-user-menu-list-item"> <a href="/language/change/hr" target="_self">@resources.Omnibar_Language_Croatian</a> </li>
                <li class="home-header-user-menu-list-item"> <a href="/language/change/en" target="_self">@resources.Omnibar_Language_English</a></li>
            </ul>

        </div>

        <img id="home-header-user-avatar" src="/Assets/Images/Home/user-avatar-default.png" alt="" />

    </div>

</div>