@using resources = Resources.Main

<div class="task-delete-confirmation-dialog">

    <div class="task-delete-confirmation-dialog-header">

        <h2> @resources.TaskConfirmationDialog_Title </h2>

    </div>

    <p>@resources.TaskConfirmationDialog_Text</p>

    <div class="actions">

        <a class="btn bottun"  href="#" ng-click="confirm()"> @resources.ConfirmationDialog_Yes </a>

        <a class="btn bottun" href="#" ng-click="cancel()"> @resources.ConfirmationDialog_No </a>

    </div>

</div>