@using resources = Resources.Main

<div>
    <span> @resources.TaskConfirmationDialog_Text </span>

    <div class="actions">
        <button class="confirm" ng-click="confirm()"> Ok </button>
        <button class="cancel" ng-click="cancel()"> @resources.ConfirmationDialog_Cancel </button>
    </div>
</div>