 @using resources = Resources.Main

<div class="test-delete-confirmation-dialog">

    <div class="test-delete-confirmation-dialog-header">

        <h2> @resources.TestConfirmationDialog_Title </h2>

    </div>

    <p>@resources.TestConfirmationDialog_Text</p>

    <div class="actions">

        <a class="bottun" href="#" ng-click="confirm()"> @resources.ConfirmationDialog_Yes </a>

        <a class="bottun" href="#" ng-click="cancel()"> @resources.ConfirmationDialog_No </a>

    </div>

</div>