@using resources = Resources.Main;

<div id="main-container">

    <div id="main-tests">

        <div id="main-tests-heading" class="clearfix">
            <span class="headerTitle">@resources.TestList_Title</span>

            <div id="main-tests-options" class="clearfix">
                <a id="main-tests-option-add-new" class="btn" ng-click="addNewTest()">
                
                    <img src="~/Assets/Images/Home/testAdd.png" />
                     @resources.TestList_CreateNew

                </a>
            </div>
        <div id="main-tests-search">

            <input type="search" id="main-tests-search-field" placeholder="@resources.TestList_SearchPlaceholder" ng-model="seachTerm.Name" />

        </div>

        </div>

        <div id="main-tests-list">

            <img ng-if="isLoading" src="Assets/Images/loading.gif" />

            <div class="switch_test main-tests-list-item clearfix" ng-repeat="test in testListApi.tests |filter: seachTerm" ng-click="selectTest(test)" ng-class="{'ui-active': test.Id == testListApi.displayedTest.Id}">
                <div class="main-tests-list-item-info">

                    <div class="heading">{{test.Name}}</div>

                    <span>{{test.ShortDescription}}{{test.ShortDescription}}{{test.ShortDescription}}</span>

                </div>

            </div>

        </div>


    </div>

    <div id="main-content" ng-transclude>

    </div>
</div> 