@using resources = Resources.Main;

<div id="main-test" ng-if="test" class="oneEdgeLeftShadow">

    <div id="main-test-info">

        <div class="loading" ng-if="isLoading">
            <img src="Assets/Images/loading.gif" /> 
        </div>
        <div id="main-test-heading">

            <div id="main-test-options">

                <a id="main-test-option-edit" ng-click="editTest()">
                    <img id="editIcon" src="~/Assets/Images/Home/testEditIcon.png" />
                    <span class="blink">@resources.TestPreview_EditButton</span>
                </a>

                <a id="main-test-option-delete" ng-click="openConfirmationDialog()">
                    <img id="deleteIcon" src="~/Assets/Images/Home/deleteTest.png" />
                    <span  class="blink">@resources.TestEdit_Delete</span>
                </a>

            </div>

            <h1>{{test.Name}}</h1>

        </div>

        <div id="main-test-description">
            <p>{{test.LongDescription}}</p>
        </div>

    </div>

    <test-tasks-list></test-tasks-list>

</div>