@using resources = Resources.Main;

<div id="main-container" class="clearfix">

    <div id="main-tests">

        <h1 id="main-tests-heading">@resources.TestList_Title</h1>

        <div id="main-tests-search">

            <input type="search" id="main-tests-search-field" placeholder="@resources.TestList_SearchPlaceholder" ng-model="seachTerm.Name" />

        </div>

        <div id="main-tests-list">

            <img ng-if="isLoading" src="Assets/Images/loading.gif" />

            <div class="switch_test main-tests-list-item clearfix" ng-repeat="test in testListApi.tests |filter: seachTerm" ng-click="selectTest(test)" ng-class="{'main-tests-list-item-selected': test.Id == testListApi.displayedTest.Id}">
                <div class="main-tests-list-item-info">

                    <h1>{{test.Name}}</h1>

                    <span>{{test.ShortDescription}}</span>

                </div>

            </div>

        </div>

        <div id="main-tests-options" class="clearfix">

            <a id="main-tests-option-add-new" ng-click="addNewTest()">@resources.TestList_CreateNew</a>
        </div>

    </div>

    <div id="main-content" ng-transclude>

    </div>
</div> 