@model Authink.Web.Models.Picture.EditSimpleModel

@using (Html.BeginForm("Edit_simple", "Picture", FormMethod.Post, new{enctype="multipart/form-data"}))
{
    <div class="task-picture-container">
        @Html.HiddenFor(m=>m.PictureId)
        <div class="task-picture-image">
            <img src="/@Model.Picture.Url" alt="" />
            <span>Upload a new picture</span>
            <input type="file" name="picture" />
        </div>
        <div class="task-edit-options">
            <input type="submit" value="Save" class="task-edit-save" />
        </div>
    </div>
}