
    <div id="main-test">
        <form ng-submit="saveTest()">
    <div id="main-test-edit-box">
    
        <h3>Name</h3>
        <div id="main-test-heading" >
            <input type="text" ng-model="test.Name" class="test-edit-textbox-input" required/>
        </div>
        <h3>Short description</h3>
        <div id="main-test-description-short" >
            <textarea ng-model="test.ShortDescription" class="test-edit-textarea-input" required></textarea>
        </div>
        <h3>Long description</h3>
        <div id="main-test-description">
            <textarea ng-model="test.LongDescription" class="test-edit-textarea-input" required></textarea>
        </div>
        <div id="main-test-edit-buttons">
            <!--
                <div id="main-test-options" class="clearfix">
                    <a id="main-test-edit-options-cancel">Cancel</a>
                    @Html.RouteLink("Delete", "Test_Delete", new {testId = Model.Id})
                    <input type="submit" value="Save"/>
                </div>
                -->
            <div id="main-test-edit-options" class="clearfix">
                <a class="main-test-edit-option-delete" ng-click="removeTest()" >delete</a>
                <input type="submit" class="main-test-edit-option-save" value="save" />
            </div>
        </div>
    </div>

</form>

        <test-tasks-list></test-tasks-list>

    </div>