<div id="home-header" class="clearfix">
    
    <a id="home-header-logo"></a>

    <div id="home-header-user" class="clearfix">
        
        <div id="home-header-user-menu">
            
            <a>{{currentUser.Firstname}} {{currentUser.Lastname}}</a>
            <ul>
                
                <li class="home-header-user-menu-list-item" ng-click="signOut()">Logout</li>

            </ul>

        </div>

        <img id="home-header-user-avatar" src="/Assets/Images/Home/user-avatar-default.png" alt="" />

    </div>

</div>