<div class="task-picture-container" ng-if="isSimpleEdit()">

    <div class="task-picture-image">

        <img ng-src="{{picture.Url}}" alt="" />

        <span>Upload a new picture</span>

        {{uploadProgress}}

        <input type="file" ng-file-select="onFileSelect($files)">

    </div>

    <div class="task-edit-options">

        <input type="submit" value="Back" class="task-edit-save" ng-click="closeModel()" />

    </div>

</div>

<div class="task-picture-container" ng-if="isDetectColorsEdit()">

    <div class="task-picture-image">

        <img ng-src="{{picture.Url}}" alt="" />

        <span>Upload a new picture</span>

        <span>{{uploadProgress}}</span>

        <input type="file" ng-file-select="onFileSelect($files)">

    </div>

    <div class="task-edit-content clearfix">
        <div class="task-edit-picture-item ">

            <div class="task-edit-picture-colors">

                <div class="task-edit-picture-colors-correct clearfix">

                    <h1>Correct color</h1>

                    <input type='color' name='color' ng-model="picture.CorrectColor.Value" class="colorPickerHolder task-edit-picture-colors-single" />

                </div>

                <div class="task-edit-picture-colors-incorrect clearfix">

                    <h1>Wrong colors</h1>

                    <div ng-repeat="wrongColor in picture.WrongColors">

                        <input type='color' name='color' class="colorPickerHolder task-edit-picture-colors-single" ng-model="wrongColor.Value" />

                    </div>

                </div>

            </div>

        </div>
    </div>

    <div class="task-edit-options">

        <input type="submit" value="Save" class="task-edit-save" ng-click="editWithColors()" />

    </div>

</div>

