<div class="task-read-container">
    
    <div>
        
        <div class="task-read-header clearfix">
            
            <div class="task-read-header-left">
                
                <img ng-src="{{task.ProfilePictureUrl}}" alt="" />

            </div>

            <div class="task-read-header-right">
                
                <h1 class="task-read-name">{{task.Name}}</h1>

                <p class="task-read-description">{{task.Description}}</p>

            </div>

        </div>

        <div class="task-read-content clearfix">
            
            <h2>Pictures</h2>

            <div class="task-read-pictures-container">
                
                <div class="task-read-picture-item" ng-repeat="picture in task.Pictures">
                    
                    <img ng-src="{{picture.Url}}" alt="" />

                </div>
                
            </div>

        </div>

        <div class="task-read-options">
            
            <a class="read-task-edit-button">Edit task</a>

        </div>

    </div>

</div>