@model Authink.Web.Controllers.Task.Models.ChooseTypeModel
@{
    ViewBag.Title = "AuThink Wizard | Type";
}

<script>
    $(function () {
        
        $('.task-wizard-type-item').qtip({ // Grab some elements to apply the tooltip to
            content: {
                //text: 'My common piece of text here'
            },
            style: {
                classes: 'qtip-youtube'
            }
        });

    });
</script>

@*slat pomocu titlea ili negdi u jquery funkciju*@

<div class="task-wizard-container">
    <div class="task-wizard-title clearfix">
        <h1>Choose Type</h1>
        @Html.RouteLink("Cancel", "Cancel", null, new { @class="task-wizard-cancel"})
        <div class="task-wizard-progress">STEP <span>1</span>/5</div>
    </div>
    <div class="task-wizard-content">
        <div class="task-wizard-type-container" class="clearfix">
            @foreach(var pair in Model.TaskTypes)
            {
                <a title="@pair.Value.TaskDescription" class="task-wizard-type-item" href="/test/tasks/create/step-2/@pair.Value.UrlFriendyname">
                    <img src="/@pair.Value.PictureUrl" alt="" />
                    <span>@pair.Value.Name</span>
                </a>
            }
        </div>
    </div>
</div>

