@using Combres.Mvc
@{Layout = null;}
<!DOCTYPE html >
<html ng-app="authink">
<head>
    <title>AuThink | Home</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="og:description" content="AuThink is a system designed with one main goal in mind: to help children with autism!" />
    <meta name="og:title" content="AuThink - Empowering experts. Aiding parents. Helping autistic children." />
    <meta name="og:image" content="http://authink.org/images/authink-square-logo-white.jpg" />
    <meta name="keywords" content="Applied behavior analysis, ABA, children, autism, authink, progress, individualized tasks" />

    @Url.CombresLink("globalCss")
    @Url.CombresLink("shellCss")
    @Url.CombresLink("angularJs")
    @Url.CombresLink("shellJs")
</head>
    <body ng-controller="shellController">
        
        <div ng-view></div>

    </body>
</html>
