/*

    AuThink

    =======================
         COLOR PALETTE
    =======================
    Blue            #1a6d97
    Blue Hover      #2277a4
    Blue Accent     #0c5371
    Orange          #fe9b26
    Orange Hover    #feaa26
    Orange Accent   #e18520

    Blue inactive: #a3c5d5
    White: #f9f7f7
    Orange: #fe9b26
    Blue: #1a6d97
    
*/

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
                                                GLOBAL
-------------------------------------------    ----------------------------------------------------------------------------------------------------------------------------------------*/

body                    { min-width: 1100px; height:100%; min-height:100%; background:#fbfbfb; 
                          font-family:'Segoe UI', 'Helvetica Neue', 'Arial', sans-serif; font-size: 10px; line-height: 1.35; }

textarea                { font-family: 'Segoe UI', 'Helvetica Neue', 'Arial', sans-serif;}

.underline              { overflow: hidden;display: inline-block;margin-bottom: -14px; /* Value depends on your design. Fix the awkward space from overflow:hidden. */}
.underline:before       { content: "";position: absolute;left: -100%;bottom: 0;display: block;width: 100%;height: 1px;background-color:#207faf;}
.underline:hover:before { left: 0;}

.blink                  { display: inline-block;overflow: hidden;margin-bottom: -14px; /* Value depends on your design. Fix the awkward space from overflow:hidden. */}
.blink:before           { content: "";position: absolute;top: 10px;left: 0;display: block;height: 20px;width: 10px;transition: left .5s; /* Prefixes. */}
.blink:hover:before     { background-color: #679bb6; left: 100%;}

.oneEdgeDownShadow          {-webkit-box-shadow: 0 8px 5px -7px #cdcbcb;-moz-box-shadow: 0 8px 5px -7px #cdcbcb;box-shadow: 0 8px 5px -7px #cdcbcb;}
.oneEdgeLeftShadow          {-webkit-box-shadow: -8px -6px 6px -6px rgba(0,0,0,0.1); -moz-box-shadow: -8px -6px 6px -6px rgba(0,0,0,0.1); box-shadow: -8px -6px 6px -6px rgba(0,0,0,0.1);}

/*cancel botun na popUp*/
.cancel                     { float:right;}
.cancel img                 { width:20px;  margin-right:5px; margin-bottom:7px;}
.cancel:hover               { cursor:pointer; background:url('../Images/Home/cancelIcon_bckg.png') no-repeat;}
.cancel:active              { opacity:0.5;}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
                                                HEADER
-------------------------------------------    ----------------------------------------------------------------------------------------------------------------------------------------*/

#home-header                                    { background: #1a6d97;height: 40px;}
#home-header-logo                               { display: block; float: left; height: 40px; }
#home-header-logo img                           { height:26px; padding:2px 20px 0 20px;}
#home-header-logo:hover                         { cursor: pointer;background: #2277a4}

.home-header-user                               { float: right;}
.home-header-user img                           { margin-bottom:10px; }
.home-header-user-menu                          { float: right;height: 40px; line-height: 40px;color: #9ac6e1;font-size: 1.6em; width:310px;}
.home-header-user-menu #options-icon            { opacity:0.6; width:40px; margin-top:-4px;}
.home-header-user-menu #options-icon:hover      { cursor: pointer; opacity:1;}
.home-header-user-menu #options-icon:active     { }
.home-header-user-menu #options                 { float:right; background:#207faf; height:inherit; width:auto; margin-top:0;}
.home-header-user-menu #options .language       { color:#a3c5d5; padding: 0 10px; }
.home-header-user-menu #options .language:hover { color:white; background:#2488bb;}
.home-header-user-menu #options #logout         { cursor:pointer; opacity:0.6; height:inherit;}
.home-header-user-menu #options #logout img     { margin-top:-3px;}
.home-header-user-menu #options #logout:hover   { opacity:1; background:#2488bb;}

.home-header-user-menu a                        { display:block; float:right; padding-right: 10px; color:white; text-decoration:none; }
.home-header-user-menu #options a               { float: left; }
/*.home-header-user-menu ul li:hover              { background: #2277a4;cursor: pointer;}
.home-header-user-menu ul li:hover a            { color: white;}
.home-header-user-menu ul li a                  { color: #9ac6e1;text-decoration: none;}*/

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
                                                child menu
-------------------------------------------    ----------------------------------------------------------------------------------------------------------------------------------------*/

#child-menu                                                                 { position: relative; z-index: 1; background:#ebebeb; border-bottom:1px solid #d9d7d7; height:40px; padding: 10px 0;}
#child-menu .shadow                                                         { position: absolute; left: 0; bottom: -7px; right: 0; height: 6px;
                                                                              background: -moz-linear-gradient(top,  rgba(0,0,0,0.08) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
                                                                              background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.08)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
                                                                              background: -webkit-linear-gradient(top,  rgba(0,0,0,0.08) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
                                                                              background: -o-linear-gradient(top,  rgba(0,0,0,0.08) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
                                                                              background: -ms-linear-gradient(top,  rgba(0,0,0,0.08) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
                                                                              background: linear-gradient(to bottom,  rgba(0,0,0,0.08) 0%,rgba(0,0,0,0) 100%); /* W3C */
                                                                              filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#14000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */ }

#child-menu-info                                                            { padding-left: 20px; float: left;}
#child-menu-info-image                                                      { display: block; float: left;width: 38px; border:1px solid #1a6d97;}
#child-menu-info-menu                                                       { position: relative; display: block; float: left; height: 40px; padding: 0 18px 0 7px;
                                                                              border-radius: 4px;color: #1a6d97; font-size: 2.5em; line-height: 40px; 
                                                                              background: transparent url('../Images/Home/child-menu-arrow-down.png') no-repeat right 20px; 
                                                                              background-size: 10px 7px; }
#child-menu-info-menu-child-name                                            { text-decoration:none;padding-left: 5px; text-align:center; color:#1a6d97;}
#child-menu-info-menu:hover                                                 { cursor: pointer;}
#child-menu-info-menu span                                                  { font-weight: bold;}
#child-menu-info-menu ul {padding: 0;}                                        
#child-menu-info-menu ul .child-menu-select                                 { float: none;white-space: nowrap;width: 295px;color: #444;text-decoration: none;border-top: 1px solid #f2f2f2;}
#child-menu-info-menu ul .child-menu-select:hover                           { background: #feb645;cursor: pointer;}
#child-menu-info-menu ul .child-menu-select.child-menu-info-menu-selected   { background: #feb645;}
#child-menu-info-menu-new                                                   { font-size: .7em;display: block;text-align: center;}
#child-menu-info-menu-new a                                                 { line-height: 1.9em;padding: 0;}
#child-menu-info-menu-new a:hover                                           { }
#child-menu-info-menu-new a:active                                          { top: 1px;position:relative;background:#196D96;}
#child-menu-info-menu ul li span                                            { margin-left: 10px;font-size: 0.6em;font-weight: normal;}

#child-menu-edit-buttonWrapper                                              { display: block; float: right; position: relative; height:50px;cursor:pointer; font-size:1.2em;}
#child-menu-edit-buttonWrapper span                                         { padding-top:5px; text-decoration: none;position: relative;transition: all .3s;}
#child-menu-edit-buttonWrapper span:hover                                   { color:#679bb6;}
#child-menu-edit-buttonWrapper span:after, span:before                      { transition: all .3s;}
#child-menu-edit-buttonWrapper #iconEdit                                    { width:22px; margin-right:5px; margin-top:7px; } 
#child-menu-edit-buttonWrapper #text                                        { color:#1a6d97; padding-right:7px; margin-right:5px; line-height:30px; font-size:1.2em; text-decoration:none;}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
                                                MAIN
-------------------------------------------    ----------------------------------------------------------------------------------------------------------------------------------------*/

#main-container                                { position: relative; background:#fbfbfb; }
#main-tests                                    { background:#f9f9f9; width: 400px; position:absolute; left: 0; top: 0; bottom: 0; }

#main-tests-search                             { margin-top: 4%;}
#main-tests-search-field                       { width: 346px; border-radius:0px; border: 1px solid #ececec;
                                                 background: white url('../Images/Home/search-icon.png') no-repeat 98% 50%; background-size: 15px 15px; outline: none;}

#main-tests-heading                            { font-size: 1.8em; font-weight: bold; padding:2px 20px 2px 20px; margin-top: 4%;}
#main-tests-heading .headerTitle               { display: inline-block; padding: 4px 0 0 2px; color:#fe9b26; text-transform:uppercase; }

#main-tests-options                            { float: right; }
#main-tests-options span                       { position:relative; transition: all .3s; text-align:center; color:#fe9b26; font-size:0.7em; font-weight:normal;}
#main-tests-options span:hover                 { color:#ffbc6d;} 
#main-tests-options span:after, span:before    { transition: all .3s;}
#main-tests-options span:active                { color:white;}
#main-tests-options a                          { text-decoration:none;background: #fe9b26;color: white; border: 0;}
#main-tests-options a:hover                    { cursor: pointer; background: #FEB645;}
#main-tests-options img                        { width:20px; position: relative; margin-top: -3px; }
#main-tests-options .blink:hover:before        { background-color: #ffbc6d; left: 100%;}


                                /*FUBAR*/

#main-tests-search input::-webkit-input-placeholder                 {color: #d5d5d5;}
#main-tests-search input:-moz-placeholder                           { /* Firefox 18- */color: #d5d5d5;}
#main-tests-search input::-moz-placeholder                          { /* Firefox 19+ */color: #d5d5d5;}
#main-tests-search input:-ms-input-placeholder                      {color: #d5d5d5;}

#main-tests-list                                                    { position: absolute; top: 100px; left: 0; bottom: 0; overflow: auto; 
                                                                      border-top: 1px solid #e9e8e8; }
.main-tests-list-item                                               { color: #888;}
.main-tests-list-item-image                                         { display: block; float: left; width: 50px; height: 50px;}
.main-tests-list-item-info                                          { width: auto; padding: 6px 0 8px; border-bottom: 1px solid #dadada}
.main-tests-list-item-info h1                                       { padding: 0 0px 0px 20px; font-size: 1.5em; font-weight:600; color: #444; margin-bottom: 2px;}
.main-tests-list-item-info span                                     { padding: 0px 20px 0 20px; line-height:1.1; display:block;font-size: 1.4em;}
.main-tests-list-item:hover                                         { cursor: pointer; background:#ffffff;}
.main-tests-list-item:hover > .main-tests-list-item-info            { background:#f5f5f5; color:#444;}
.main-tests-list-item:hover > .main-tests-list-item-info h1         { background:#f5f5f5; color:#444;}
.main-tests-list-item.ui-active                                     { background:#FE9B26; color:white; cursor: default; }
.main-tests-list-item.ui-active > .main-tests-list-item-info        { border-bottom: 1px solid #dadada; background:#FE9B26; color:white;}
.main-tests-list-item.ui-active > .main-tests-list-item-info h1     { background:#FE9B26; color:white;}

#main-content                                                       { margin-left: 400px;}

#main-test                                                          { position: relative; border-left:1px solid #c7c7c7; padding: 20px 0 0 30px; min-height:100%; overflow: auto;}

#main-test .loading                                                 { position:absolute; top: 15px; left: 0; right: 0; text-align: center; }

#main-test-info                                                     { }
#main-test-heading                                                  { min-height: 40px; padding: 10px 0 0 20px; }
#main-test-heading h1                                               { display: inline; color:#fe9b26; font-weight: bold; font-size: 2.8em; }


#main-test-options                                                  { float: right; width:200px; padding: 0 20px;}
#main-test-options span                                             { margin-top:3px; text-align: center;font-size: 1.3em; position: relative;transition: all .3s;}
#main-test-options span:hover                                       { color:#ffbc6d;}
#main-test-options span:active                                      { color:white;}
#main-test-options span:after, span:before                          { transition: all .3s;}
#main-test-options a                                                { margin-right:10px; text-decoration:none; color: #fe9b26; float:left; line-height:40px; }
#main-test-options a:hover                                          { cursor:pointer;}
#main-test-options img                                              { width:20px; padding-right:3px; padding-bottom:5px;}
#main-test-options .blink:hover:before                              { background-color: #ffbc6d; left: 100%;}



#main-test-edit-options                                             { height: 40px;margin-right: 1.4%;}
main-test-edit-buttons                                              { width: 90%;display: block;padding-right: 50px;}
#main-test-edit-options input                                       { display: block; padding: 7px 15px 8px 15px;margin: 0 5px;float: right;text-align: center; text-transform: uppercase;color: white;font-size: 1.4em; font-weight: bold;text-decoration: none;}
#main-test-edit-options a                                           { display: block; padding: 7px 15px 8px 15px;float: right;text-align: center; text-transform: uppercase;color: white;font-size: 1.4em; font-weight: bold;text-decoration: none;}
#main-test-edit-options a:hover                                     { cursor: pointer;}
.main-test-edit-option-delete                                       { background: #fe9b26; border: none;margin: 0 120px 0 5px;}
.main-test-edit-option-delete:hover                                 { background: #feaa26;}
.main-test-edit-option-save                                         { background: #fe9b26;border: none;margin: 0 5px;}
.main-test-edit-option-save:hover                                   { background: #feaa26;}
#main-test-description                                              { }
#main-test-description-short                                        { }
#main-test-description p                                            { font-size: 1.5em; line-height: 1.5em; color: #666; padding: 5px 20px 20px 20px}
#main-test-edit-box                                                 { margin-bottom: 30px; width:800px; margin-left:50px;}
#main-test-edit-box h3                                              { font-weight: bold; font-size: 1.8em; color:#fe9b26; padding: 15px 0 5px 0;}

#test-edit-add-new-task span                                        { color:#1a6d97; position:relative; transition: all .3s; padding-bottom:5px; padding-top:3px;}
#test-edit-add-new-task span:hover                                  { color:#679bb6;}
#test-edit-add-new-task span:active                                 { color:white;}
#test-edit-add-new-task span:after, span:before                     { transition: all .3s;}

#main-test-tasks-right img                                          { height:20px; padding-bottom:3px; }
#main-test-tasks-left                                               { float: left;width: calc(100% - 30px);}
#main-test-tasks-heading                                            { padding-bottom:10px; color:#1a6d97; font-weight: bold; font-size: 2.1em;margin-bottom: 20px; padding-left:20px; border-bottom:1px solid #e9e8e8;}
#main-test-tasks-heading span                                       { margin-top:-5px;}
#main-test-task-list                                                {}

.main-test-task-wrap                                                {}
.main-test-task                                                     { display: block;width: 400px;float: left;padding: 10px 20px 35px;margin: 0 auto;position: relative;}
.main-test-task-options                                             { display: block !important;}

.mainTestTaskHeading                                                { margin-bottom:5px; padding: 6px 2px 6px 5px; background:#F5F5F5; font-weight:bold; font-size:1.3em;}
.mainTestTaskHeading a                                              { color:#1a6d97; text-decoration:none;}


.main-test-task-left                                                { width: 100px;float: left;}
.main-test-task-left img                                            { display: block;width: 80px; height: 80px;margin: 0 auto;}
.main-test-task-difficulty                                          { float:right; font-weight:normal; font-size:0.9em; padding-right:4px; color: #1a6d97;}
.main-test-task-difficulty-text                                     { padding-right:5px; float:left; text-align: center; display: block;font-size: 1em; color: #1a6d97;}
.main-test-task-difficulty-value                                    { float:right; display: block;text-align: center;font-size: 1em;}
#main-test-tasks                                                    { }
#main-test-tasks-right                                              { display:block; float: right; position:relative; padding-right:30px;}
#main-test-tasks-right a                                            { line-height:30px; text-decoration:none; font-size:0.6em; font-weight:normal; }
.main-test-task-right                                               { width: 280px; height: 75px; float: left; padding-top: 0.8em; overflow: hidden;}
.main-test-task-right span                                          { font-size: 1.4em; color: #888; line-height:1.3em;}
.main-test-task-options                                             { padding-right:20px; display: none; position: absolute; bottom: 5px; right: 0px;}
.main-test-task-options span                                        { margin-top:10px; color:#888; font-size:1.2em; }
.main-test-task-options ul                                          { }
.main-test-task-options ul li                                       { float: right;}
.main-test-task-options ul li a                                     { text-decoration:none; font-size: 1em;color: #444;padding: 8px 10px 8px 10px;}
.main-test-task-options ul li a:hover                               { cursor: pointer;background-color: #ebeaea !important;}
.main-test-task-options img                                         { width:20px; padding-bottom:5px;}

#main-test-description-short p                                      { font-size: 1.6em;line-height: 1.6em;}
#main-test-heading input                                            { border-radius:0; border: #e0e0e0 1px solid}
.test-edit-textbox-input                                            { display: block;width: 90%;padding: 12px;background: white;border: #e0e0e0 1px solid;margin: 5px 0;font-size: 18px;}
.test-edit-textarea-input                                           { border-radius:0; display: block;width: 90%;padding: 12px;background: white;border: #e0e0e0 1px solid;margin: 5px 0;font-size: 1.4em;height: 100px;resize: none;outline: none;}

