/*

    AuThink

    =======================
         COLOR PALETTE
    =======================
    Blue            #1a6d97
    Blue Hover      #2277a4
    Blue Accent     #0c5371
    Orange          #fe9b26
    Orange Hover    #feaa26
    Orange Accent   #e18520
    
*/

@import url('reset.css');

html                                                        { background: url(../Images/Login/background.jpg) no-repeat center center fixed; 
                                                              -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; }
body                                                        { background: #f9f7f7; font-family: 'Segoe UI', 'Helvetica Neue', 'Arial', sans-serif; height:100%; padding:0; margin:0; }
input                                                       { font-family: 'Segoe UI', 'Helvetica Neue', Arial, sans-serif; }


#logInMainContainer                                         { position:absolute; top:0; bottom:0; left:0; right:0; }
#loginContent                                               { position:absolute; bottom:40px; top:5%; left:0; right:0; text-align:center; }
#loginContent #loginLogo                                    { height:150px; background: url(../Images/Login/login-logo.png) no-repeat center center; margin-bottom:20px; }


#loginContainer                                                                  { position:absolute; top: 160px; left:0; right:0; }
#loginContainer #loginForm                                                       { width: 350px; margin: 0 auto; background:white; border:#7faec2 2px solid; border-radius: 4px; }
#loginContainer #loginForm .inputContainer                                       { padding:30px 0 20px 0;}

#loginContainer #loginForm .inputData                                            { width:270px; height:40px; margin:10px auto; position:relative; }
#loginContainer #loginForm .inputData #usernameIcon                              { position: absolute; top: 0; right: 0; height:34px; width:34px; margin-right:4px;
                                                                                    background: url(../Images/Login/usernameIcon.png) no-repeat center center; 
                                                                                    border-left:1px solid #ccc; }
#loginContainer #loginForm .inputData #passwordIcon                              { position: absolute; top: 0; right: 0; height:34px; width:34px; margin-right:4px;
                                                                                    background: url(../Images/Login/passwordIcon.png) no-repeat center center; 
                                                                                    border-left:1px solid #ccc; }
#loginContainer #loginForm .inputContainer input                                 { width:250px; height:25px; }
#loginContainer #loginForm .inputContainer input[type="text"]                    { background: url(../Images/Login/usernameBckg.jpg) repeat-x; }
#loginContainer #loginForm .inputContainer input[type="password"]                { background: url(../Images/Login/passwordBckg.jpg) repeat-x; }
#loginContainer #loginForm .inputContainer input[type="email"]                   { background: url(../Images/Login/usernameBckg.jpg) repeat-x; }
#loginContainer #loginForm .inputContainer input:focus                           { background:white; }

#loginContainer #loginForm .login-form-switch                                    { height:33px; padding:10px 44px; background:#ededed;}
#loginContainer #loginForm .login-form-switch a                                  { display:block; float:left; padding: 5px 0 0 0; font-size:1.6em; color:#a9a9a9; cursor:pointer; text-decoration:underline; }
#loginContainer #loginForm .login-form-switch a:hover                            { color:#999999;}
#loginContainer #loginForm .login-form-switch a:active                           { text-decoration:none; }
#loginContainer #loginForm  input[type="submit"]                                 { margin:0; padding:7px 10px; border:0; border-radius:3px; float:right; 
                                                                                                     background:#116d98; color:white; font-weight:800; font-size:1.6em; }
#loginContainer #loginForm  input[type="submit"]:hover                           { background:#1376a4; }
#loginContainer #loginForm  input[type="submit"]:active                          { margin-top:1px; }

#loginContainer #loginForm #login-form-signup .inputData input                   { width:250px; }

#loginFooter                                                { position:absolute; bottom:0; left:0; right:0; height:40px; background:#116d98; -webkit-box-shadow: inset 0px 3px 5px 0px rgba(0,0,0,0.57);
                                                              -moz-box-shadow: inset 0px 3px 5px 0px rgba(0,0,0,0.57); box-shadow: inset 0px 3px 5px 0px rgba(0,0,0,0.57); }

#loginFooter #content                                       { position: relative; width:310px; margin: 0 auto; font-size: 1.5em; color:black; }
#loginFooter #content #copyright                            { float: left; padding:2px 10px; margin:10px 0; border-right: 1px solid #242424; vertical-align:middle; }
#loginFooter #content #language                             { float: left; padding:0 10px; margin:12px 0;}
