/*

    AuThink

    =======================
         COLOR PALETTE
    =======================
    Blue            #1a6d97
    Blue Hover      #2277a4
    Blue Accent     #0c5371
    Orange          #fe9b26
    Orange Hover    #feaa26
    Orange Accent   #e18520
    
*/
body {
    font-family: 'Segoe UI', 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 10px;
}

.hidden {
        display: none;
 }
    .edit-detect-color-color-placeholder {
        width: 50px;
        height: 50px;
    }

.task-read-container {
    display: block;
    width: 700px;
    height: 500px;
    padding: 20px;
    overflow: scroll;
    overflow-x: hidden;
}

    .task-read-header {
        
    }

        .task-read-header-left {
            float: left;
            width: 64px;
            height: 64px;
        }

            .task-read-header-left img {
                width: 100%;
            }

        .task-read-header-right {
            float: left;
            margin: 10px 0 0 20px;
            width: 500px;
        }

            .task-read-name {
                font-weight: bold;
                text-transform: uppercase;
                font-size: 2.7em;
                color: #444;
            }

            .task-read-description {
                margin-top: 10px;
                color: #888;
                font-size: 1.3em;
                line-height: 1.6em;
            }

    .task-read-content {
        margin-top: 20px;
    }

        .task-read-content h2 {
            font-weight: bold;
            text-transform: uppercase;
            font-size: 1.8em;
            color: #444;
        }

        .task-read-pictures-container {
            display: -webkit-flex;
            -webkit-flex-direction: row;
            -webkit-flex-wrap: wrap;
            margin-top: 10px;
        }

            .task-read-picture-item {
                width: 100px;
                float: left;
                margin: 10px;
                text-decoration: none;
            }

                .task-read-picture-item img {
                    width: 100%;
                }

    .task-read-options {
        
    }

        .read-task-edit-button {
            float: right;
            display: block;
            text-align: center;
            font-size: 1.2em;
            text-transform: uppercase;
            color: #888 !important;
            padding: 13px 35px 13px 15px;
            background: transparent url('../Images/Home/test-icon-edit.png') no-repeat right center;
            position: absolute;
            top: 10px;
            right: 24px;
        }

            .read-task-edit-button:hover {
                cursor: pointer;
                background-color: #f0f0f0;
                border-radius: 2px;
            }

.task-edit-container {
    display: block;
    width: 700px;
    height: 500px;
    padding: 20px;
    overflow: scroll;
    overflow-x: hidden;
}

    .task-edit-header {
        
    }

        .task-edit-header-left {
            float: left;
            width: 64px;
            height: 64px;
        }

            .task-edit-header-left img {
                width: 100%;
            }

        .task-edit-header-right {
            float: left;
            margin: 10px 0 0 20px;
            width: 500px;
        }

            .task-edit-header-right span {
                font-weight: bold;
                text-transform: uppercase;
                display: block;
                color: #444;
                font-size: 1.4em;
            }

            .task-edit-name-field {
                width: 100%;
                padding: 8px;
                background: white;
                border: #e0e0e0 1px solid;
                margin: 5px 0;
                font-size: 1.8em;
                margin-bottom: 20px;
            }

            .task-edit-description-field {
                width: 100%;
                padding: 8px;
                background: white;
                border: #e0e0e0 1px solid;
                margin: 5px 0;
                font-size: 1.4em;
            }

    .task-edit-content {
        margin-top: 20px;
    }

        .task-edit-content h2 {
            font-weight: bold;
            text-transform: uppercase;
            font-size: 1.8em;
            color: #444;
        }

        .task-edit-pictures-container {
            display: -webkit-flex;
            -webkit-flex-direction: row;
            -webkit-flex-wrap: wrap;
            margin-top: 10px;
        }

            .task-edit-picture-item {
                width: 100px;
                padding: 10px;
                float: left;
                margin: 10px;
                text-decoration: none;
            }

                .task-edit-picture-item:hover {
                    cursor: pointer;
                    background: #f0f0f0;
                    border-radius: 8px;
                }

                    .task-edit-picture-item:hover span {
                        visibility: visible;
                    }

                .task-edit-picture-item span {
                    visibility: hidden;
                    font-weight: bold;
                    text-transform: uppercase;
                    display: block;
                    color: #888 !important;
                    text-align: center;
                    padding-top: 10px;
                    font-size: 1.4em;
                }

                .task-edit-picture-item img {
                    width: 100%;
                }

                .task-edit-picture-colors {
                    
                }

                    .task-edit-picture-colors h1 {
                        font-weight: bold;
                        text-transform: uppercase;
                        display: block;
                        color: #444 !important;
                        text-align: center;
                        padding-top: 10px;
                        font-size: 1.2em;
                    }

                    .task-edit-picture-colors-single {
                        display: block;
                        float: left;
                        width: 30px;
                        height: 30px;
                        margin: 5px;
                    }

        .task-edit-save {
            float: right;
            border: none;
            border-bottom: 5px solid #e18520;
            background:  #fe9b26;
            color: white;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 16px;
            padding: 6px 14px;
            position: absolute;
            top: 10px;
            right: 24px;
        }

        .task-edit-save:hover {
            cursor: pointer;
            background: #e18520;
        }

.task-edit-voice-command > span{

    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.8em;
    color: #444;
}
.task-edit-voice-command-add-new h3 {
    font-size: 1.4em;
    padding-top: 10px;
    color: #45B434;
}

.task-picture-container {
    display: block;
    width: 700px;
    height: 500px;
    padding: 20px;
    overflow: scroll;
    overflow-x: hidden;
}

    .task-picture-image {
        text-align: center;
    }

        .task-picture-image img {
            display: block;
            height: 320px;
            margin: 10px auto;
        }

        .task-picture-image span {
            font-weight: bold;
            text-transform: uppercase;
            display: block;
            color: #888 !important;
            text-align: center;
            padding-top: 10px;
            font-size: 1.4em;
        }

        .task-picture-image input {
            padding: 10px 0;
        }
