                                                            /* ADD CHILD INFORMATION POPUP*/
#child-create-popup                                         { width: 300px;}
#child-popup-header                                         { width: 100%;background-color:  #fe9b26;margin-bottom: 7%;-moz-border-radius-topleft: 6px;border-top-left-radius: 6px; -moz-border-radius-topright:6px; border-top-right-radius: 6px;}
#child-popup-header #title                                  { font-size: 20px;color: white;font-weight: bold;margin: 0 auto;padding: 5px 0 7px 5px;}
.child-form-create                                          { width: 100%;}
.child-form-create .child-test                              { text-align: center;display: block;margin: 15px auto 0px auto;}
.child-form-label                                           { font-size: 18px;}
.child-form-field                                           { width: 100%;padding: 8px;background: white;border: #e0e0e0 1px solid;font-size: 18px;}

.child-form-create .actions                                 { padding:15px 0 25px 0; text-align:center;}
.child-form-create .actions .child-dashboard-button         { display: block;float: right; margin: 5px 5px 10px 5px;border: none;border-bottom: 5px solid #e18520;background: #fe9b26;color: white;font-weight: bold;text-transform: uppercase;font-size: 16px;padding: 6px 14px;}
.child-form-create .actions .child-dashboard-button:hover   { cursor: pointer;background: #e18520;}
.child-form-create .actions .child-dashboard-button:active  { position: relative;top: 1px;}

