                                                            /* ADD CHILD INFORMATION POPUP*/
#child-create-popup                                         { width: 400px;}
#child-popup-header                                         { width: 100%;background-color:  #fe9b26;margin-bottom: 30px; -moz-border-radius-topleft: 6px;border-top-left-radius: 6px; -moz-border-radius-topright:6px; border-top-right-radius: 6px;}
#child-popup-header #title                                  { font-size: 20px;color: white;font-weight: bold;margin: 0 auto;padding: 5px 0 7px 5px;}
#child-popup-heade .cancel                                  { float:right;}
.child-form-create                                          { width: 100%;}
.child-form-create .child-test                              { margin: 15px 10px 15px 90px;}
.child-form-label                                           { font-size: 18px;}
.child-form-field                                           { width: 100%;padding: 8px;background: white;border: #e0e0e0 1px solid;font-size: 18px;}

.child-form-create .actions                                 { padding:15px 0 15px 0; text-align:center;}
.child-form-create .actions .child-dashboard-button         { display: inline-block; position:relative;  margin:0 5px 0 5px; border: none; background: #fe9b26;color: white;font-weight: bold;text-transform: uppercase;padding: 6px 14px;}
.child-form-create .actions .child-dashboard-button:hover   { cursor: pointer;background: #e18520;}
.child-form-create .actions .child-dashboard-button:active  { position: relative;top: 1px;}

