
                                                                /* ADD CHILD INFORMATION POPUP*/
#child-create-popup                             {/*width: 360px;*/}
#child-popup-header                             {width: 100%;background-color:  #fe9b26;margin-bottom: 2%;}
#child-popup-header h2                          {font-size: 20px;color: white;font-weight: bold;margin: 0 auto;padding: 5px 0 7px 5px;}
#child-form-title                               {display: none;}
#child-form-create                              {width: 320px;padding: 20px;margin: 0 auto;}
.child-form-label                               {font-size: 18px;}
.child-form-field                               {width: 304px;padding: 8px;background: white;border: #e0e0e0 1px solid;margin: 5px 0;font-size: 18px;}
#child-dashboard-create-button                  {float: right;border: none;border-bottom: 5px solid #e18520;background:  #fe9b26;color: white;font-weight: bold;text-transform: uppercase;font-size: 16px;padding: 6px 14px;margin-top: 15px;margin-right: -1px;}
#child-dashboard-create-button:hover            {cursor: pointer;background: #e18520;}
#child-dashboard-create-button:active           {position: relative;top: 1px;border-bottom: 4px solid #e18520;}
