 <div id="test-crate-popup">
     
     <form ng-submit="createTest()">
         
         <div id="test-crate-popup-header">
            
             <h2>Add new test to Ime diteta </h2>

         </div>

         <div id="test-create-form">
            
             <div>
                
                 <input type="text" placeholder="Title of new test"  ng-model="test.name" class="test-create-form-textbox" required />

             </div>

             <div>
                
                 <textarea placeholder="Short description of new test"  ng-model="test.shortDescription" class="test-create-form-textarea-short" required ></textarea>

             </div>

             <div>
                
                 <textarea placeholder="Detailed description of new test"  ng-model="test.longDescription" class="test-create-form-textarea-long" required ></textarea>

             </div>

             <input type="submit" value="Save" id="test-create-form-button"/>

         </div>

     </form>
 </div>