
    <div id="main-test">
        <form ng-submit="saveTest()">
    <div id="main-test-edit-box">
    
        <h3>Name</h3>
        <div id="main-test-heading" >
            <input type="text" ng-model="test.Name" class="test-edit-textbox-input" required/>
        </div>
        <h3>Short description</h3>
        <div id="main-test-description-short" >
            <textarea ng-model="test.ShortDescription" class="test-edit-textarea-input" required></textarea>
        </div>
        <h3>Long description</h3>
        <div id="main-test-description">
            <textarea ng-model="test.LongDescription" class="test-edit-textarea-input" required></textarea>
        </div>
        <div id="main-test-edit-buttons">
            <!--
                <div id="main-test-options" class="clearfix">
                    <a id="main-test-edit-options-cancel">Cancel</a>
                    @Html.RouteLink("Delete", "Test_Delete", new {testId = Model.Id})
                    <input type="submit" value="Save"/>
                </div>
                -->
            <div id="main-test-edit-options" class="clearfix">
                <a class="main-test-edit-option-delete" ng-click="removeTest()" >delete</a>
                <input type="submit" class="main-test-edit-option-save" value="save" />
            </div>
        </div>
    </div>

</form>

    <div id="main-test-tasks">
        <div id="main-test-tasks-heading">
            <span>Tasks (<span id="task-count">{{test.Tasks.Lenght}}</span>)</span>
            <a id="test-edit-add-new-task"><span>New task</span></a>
          
        </div>

    <div id="main-test-task-list">
       
        <div class="main-test-task clearfix task" ng-repeat="task in test.Tasks">
            <div class="main-test-task-left">
                <img ng-src="{{task.ProfilePictureUrl}}" height="50" width="50"/> 
                <div class="main-test-task-difficulty">
                    <span class="main-test-task-difficulty-text">difficulty</span>
                    <span class="main-test-task-difficulty-value"><strong>{{task.Difficulty}}</strong></span>
                </div>
            </div>
            <div class="main-test-task-right">
                <h1>{{task.Name}}</h1>
                <span>{{task.Description}}</span>
                <div class="main-test-task-options clearfix">
                    <ul class="clearfix">
                        <li><a class="main-test-task-option-delete">delete</a></li>
                        <li><a class="main-test-task-option-statistics" >statistics</a></li>
                        <li><a class="main-test-task-option-edit">edit</a></li>
                    </ul>
                </div>
            </div>
        </div>
        
    </div>
  </div>
    </div>