<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings>

    <add key="EnvironmentName" value="Test" xdt:Transform="Replace" xdt:Locator="Match(key)" />

  </appSettings>
  <connectionStrings>

    <add name="AuthinkDataModel" providerName="System.Data.EntityClient"
      connectionString="metadata=res://*/AuthinkData.csdl|res://*/AuthinkData.ssdl|res://*/AuthinkData.msl;provider=System.Data.SqlClient;
        provider Connection string= 
        &quot;                  
          data source              =localhost;     
          initial catalog          =Authink.Test; 
          User ID                  =authink_user;
          Password                 =!Macjametvica1950;
          MultipleActiveResultSets =True;
          App                      =EntityFramework
        &quot;" xdt:Transform="Replace" xdt:Locator="Match(name)"/>

  </connectionStrings>

  <system.web>

    <compilation xdt:Transform="RemoveAttributes(debug)" />

  </system.web>

  <nlog autoreload="true" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" internalLogFile="file.txt" throwExceptions="false">
    <targets>
      <target xdt:Transform="Replace" xdt:Locator="Match(name)" xsi:type="File" name="logfile" fileName="${basedir}\logs\log_${date:format=yy-MM-dd}.txt" layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff} ${message} ${exception:format=tostring}" />
      <target xdt:Transform="Replace" xdt:Locator="Match(name)" xsi:type="File" name="log4jxml" fileName="${basedir}\logs\log_${date:format=yy-MM-dd}.xml" layout="${log4jxmlevent}" />
    </targets>
  </nlog>

</configuration>