<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings>

    <add key="EnvironmentName" value="Release" xdt:Transform="Replace" xdt:Locator="Match(key)" />

  </appSettings>
  <connectionStrings>
    
    <add name="AuthinkDataModel" providerName="System.Data.EntityClient"
      connectionString="metadata=res://*/AuthinkData.csdl|res://*/AuthinkData.ssdl|res://*/AuthinkData.msl;provider=System.Data.SqlClient;
        provider Connection string= 
        &quot;                  
          data source              =localhost;     
          initial catalog          =Authink.Admin.v2; 
          User ID                  =authink_user;
          Password                 =!Macjametvica1950;
          MultipleActiveResultSets =True;
          App                      =EntityFramework
        &quot;" xdt:Transform="Replace" xdt:Locator="Match(name)"/>

    <add name="AuthinkBlobStorage" connectionString="DefaultEndpointsProtocol=https;AccountName=authink;AccountKey=K/raISkbuLwhcV7hiNo7RTAzK8PSQzQAyyB8Cw9c17btr/M9+TpW6tOQG7THQCymUls/Skc3SfW4k6964o7PKg==" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
  </connectionStrings>
  
  <system.web>
    
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    
  </system.web>
  
</configuration>